<% include header.ejs %>
<div class="main index">
    <% include side.ejs %>
    <div class="panel list-panel panel-left ">
        <div id="topic-header" class="swiper-container-horizontal swiper-container-free-mode">
            <div id="top-line"></div>
            <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">
                <% tabs.forEach(function (t) {
                    var value = t[0], text = t[1]; %>
                <div class="swiper-slide"><a href="/?tab=<%= value %>" class="<%= value === currentTab ? 'current-tab' : '' %>"><%= text %></a></div>
                <% }); %>
            </div>
        </div>
        <% topics.forEach(function (topic) { %>
        <div class="topic-list">
            <a class="list-cell" href="/topic/<%= topic._id %>" class="topic-title" title="<%= topic.title %>"></a>

            <div class="topic-tab-wrap">
                <span class="topic-tab"><%= topic.tab %></span>
            </div>
            <div class="topic-title-wrap">
                <a href="/topic/<%= topic._id %>" class="topic-title" title="<%= topic.title %>">
                    <%= topic.title %>
                </a>
            </div>
            <div class="topic-avator">
                <a href="/user/<%= topic.author.name %>"></a>
                <img src="/img/<%= topic.author.avatar %>" title="<%= topic.author.name %>">
            </div>
            <div class="topic-author">
                <a class="link" href="/user/<%= topic.author.name %>"></a>
                <div class="name limit"><%= topic.author.name %></div>



                <div class="time"><%= topic.create_at %></div>
            </div>
            <div class="pv">
                <span class="replay" title="回复数"><%= topic.comment %></span>
                <span>/</span>
                <span title="浏览次数"><%= topic.pv %></span>
            </div>
        </div>
        <% }); %>
        <!--直接在后端做的分页，感觉比较丑……-->
        <div class="pagination">
            <div><a href="/?tab=<%= currentTab %>&page=1" >首页</a></div>
            <% if (pageRender.start != 1){%>
            <div><a href="javascript:;" >...</a></div>
            <%}%>
            <% for (var i = pageRender.start;i <= pageRender.end;i++){ %>
            <div><a href="/?tab=<%= currentTab %>&page=<%= i%>"><%= i%></a></div>
            <% } %>
            <% if (pageRender.end != pageNum){%>
            <div><a href="javascript:;" >...</a></div>
            <%}%>
            <div><a href="/?tab=<%= currentTab %>&page=<%= pageNum%>" >末页</a></div>
        </div>
    </div>
</div>

<% include footer.ejs %>